// Write Theme Specific Admin Styles Here
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline !important;
  text-transform: $text-transform;
  line-height: 1 !important;
  font-weight: $headline-weight !important;
  padding-top: .5em !important;
  margin-bottom: .25em !important;
  letter-spacing: $spacing;
}

body:not(.mce-content-body) #titlediv #title {
  font-family: $headline !important;
}

h1 {
  font-size: ($multiplier * 2.5) + rem !important;
}

h2 {
  font-size: ($multiplier * 2) + rem !important;
}

h3 {
  font-size: ($multiplier * 1.75) + rem !important;
}

h4 {
  font-size: ($multiplier * 1.5) + rem !important;
}

h5 {
  font-size: ($multiplier * 1.25) + rem !important;
}

h6 {
  font-size: ($multiplier * 1) + rem !important;
}

a#add_gform {
  padding: .5em 2em;
}

.gform_media_icon {
  height: 1em;
  padding: 0;
}

//.nfusion {
//  #acf-group_5b92a5fe858ce {
//    display: none !important;
//  }
//}
.toplevel_page_gf_edit_forms .wrap h2 {
  -webkit-text-fill-color: initial !important;
}

body:not(.companies-of-nassal) form#createuser {
  display: none;
}

body:not(.companies-of-nassal) #create-new-user+p {
  color: transparent;
  cursor: pointer
}

body:not(.companies-of-nassal) #create-new-user+p:before {
  content: 'To add a new user, click here to access the Network Admin';
  color: #fff;
  pointer-events: none;
  display: inline-block;
  padding: .5rem 1rem;
  background: var(--brand);
}

.wp-block-pullquote, .wp-block-quote {
  margin: 2rem auto;
  border: none;
  font-weight: bold;

  .mce-content-body p {
    font-size: 2.5rem;
    text-align: left;
    font-weight: bold;
  }

  .wp-block-pullquote__citation {
    font-size: 1.5rem;
    font-family: "Helvetica Neue" !important;
    text-align: left;
    text-transform: capitalize !important;
    margin: 1rem 0;
  }

  &.alignwide {}

  &.alignfull {
    .mce-content-body p {
      font-size: 2.5rem;
      text-align: left;
      font-weight: bold;
    }
  }

  p {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #231F20;
    text-align: left;
  }

  cite {
    font-size: 1.5rem;
    color: $grey;
    margin-top: .5rem;
    margin-bottom: 0;
    font-weight: normal;
    text-align: left;
    display: block;

    &:before {
      content: '- '
    }
  }
}

.video-js {
  &.wp-block-embed {
    margin: 2rem 0 1rem;
  }
}

.wp-block-button__link, .wp-block-file__button {
  font-weight: bold;
}

.wp-block-button__link:not(.has-background), .wp-block-file__button {
  color: white;
  border-color: var(--brand);
  background: var(--brand-gradient);

  &:hover {
    text-decoration: none;
  }
}

.wp-block-button__link.has-background {
  color: white;

  //    border-color: var(--brand);
  //    background-color: var(--brand);
  &:hover {
    text-decoration: none;
  }
}

.is-style-outline {
  .wp-block-button__link:not(.has-background) {
    color: var(--brand);
    background: white;

    &:hover {
      text-decoration: none;
    }
  }
}

.wp-block-cover p.wp-block-cover-text {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  z-index: 1;
  padding: 0 1rem;
  line-height: 1;
}
