 // Set element positioning in a single statement

@mixin position($position: relative, $coordinates: null null null null) {

  @if type-of($position) == list {
    $coordinates: $position;
    $position: relative;
  }

  $coordinates: unpack($coordinates);

  $offsets: (
    top:    nth($coordinates, 1),
    right:  nth($coordinates, 2),
    bottom: nth($coordinates, 3),
    left:   nth($coordinates, 4)
  );

  position: $position;

  @each $offset, $value in $offsets {
    @if is-length($value) {
      #{$offset}: $value;
    }
  }
}


//  These mixins are to apply the orientation media query rule.
//
//  Example:
//    @include media-landscape-down(sm) { ... }
//    @include media-portrait-down(md)  { ... }

// Portrait
@mixin portrait() {
    @media screen and (orientation:portrait) { @content; }
}

@mixin media-portrait-up($name) {
    @include portrait {
        @include media-breakpoint-up($name) {
            @content;
        }
    }
}

@mixin media-portrait-down($name) {
    @include portrait {
        @include media-breakpoint-down($name) {
            @content;
        }
    }
}

// Landscape
@mixin landscape() {
    @media screen and (orientation:landscape) { @content; }
}

@mixin media-landscape-up($name) {
    @include landscape {
        @include media-breakpoint-up($name) {
            @content;
        }
    }
}

@mixin media-landscape-down($name) {
    @include landscape {
        @include media-breakpoint-down($name) {
            @content;
        }
    }
}
