.error404 {
  .banner {
    position: relative;
    z-index: 1;
    min-height: calc(100vh);
    // (768px)
    @include media-breakpoint-down(md) {
      min-height: 100vw;
    }
    .svg-paths {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      display: flex;
      align-content: center;
      align-items: center;
      &.hide {
        opacity: 0;
      }
      svg {
        width: 100%;
        max-height: 85%;
        height: 100%;
        @include media-breakpoint-down(md) {
          max-height: none;
          transform: scale(2);
          transform-origin: 75% 50% 0;
        }
      }
    }
  }
}
