.case-studies-loop {
  margin: 10rem auto 3rem;
  overflow-y: visible;
  // (768px)
  @include media-breakpoint-down(md) {
    margin: 3rem auto 3rem;
  }
  @include media-breakpoint-down(sm) {
    margin: 3rem auto 1rem;
  }
  .featured-post {
    .card {
      @include shadow-1-w-hover;
      padding-right: 0;
      &:before {
        content: '';
        position: absolute;
        width: 8px;
        height: 100%;
        right: 0;
//        background: linear-gradient(to bottom, var(--brand) 0%, var(--brand-dark) 50%);
        background: var(--brand-gradient);

        @include media-breakpoint-down(sm) {
//          background: linear-gradient(135deg, var(--brand) 0%, var(--brand-dark) 50%);
          background: var(--brand-gradient);

          height: 4px;
          width: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: auto;
          transform: scaleX(0);
          transform-origin: 0% 100% 0;
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 25rem;

        // (768px)
        @include media-breakpoint-down(sm) {

          max-height: 15rem;
        }

      }
    }
    // (768px)
    @include media-breakpoint-down(md) {
//      display: none;
    }
  }
  .container,
  .row {
    overflow: visible;
  }
  .loop-container {
    overflow-y: visible;
    .case-slider {
      .swiper-pagination-bullet-active {
        background: var(--brand-secondary);
      }
      //      width: 100%;
      overflow: visible;
      display: flex;
      // (768px)
      width: 100vw;
      @include media-breakpoint-up(sm) {
        width: var(--container);
        margin: 1rem 0 0;
      }
      @include media-breakpoint-up(md) {
        width: var(--container);
        margin: 3rem 0 0;
      }
      padding-bottom: 5rem;
      // (768px)
      @include media-breakpoint-up(md) {
        margin: 1rem 0 0 15px;
      }
      .swiper-wrapper {
        //                  width: calc(100% + 100px);
        //          margin-right: 25rem;
      }
      .swiper-slide {
        --slideWidth: 23rem;
        @include cardContent;
        //    padding: 2rem 0 0;
        padding: 0;
        margin: 0;
        min-width: calc(100vw);
        max-width: calc(100vw);
        height: auto;
        flex: 0 0 100%;
        overflow-y: visible;
        @include media-breakpoint-up(sm) {
          min-width: var(--container);
          max-width: var(--container);
        }
        @include media-breakpoint-up(md) {
          min-width: var(--slideWidth);
          max-width: var(--slideWidth);
        }
        &:last-of-type {
          .card {
            // @media (max-width: 1439px)
            @include media-breakpoint-up(lg) {
              //            max-width: calc(var(--slideWidth) - 60px);
              //            min-width: calc(var(--slideWidth) - 60px);
              //            margin-left: 0;
              //            margin-right: 60px;
            }
          }
        }
        .card {
          margin: 1rem auto 1rem;
          padding: 6rem 2rem 0;
          background: $lt-grey;
          min-width: calc(100vw - 30px);
          max-width: calc(100vw - 30px);
          height: 100%;

          // (768px)
          @include media-breakpoint-down(xs) {

            padding: 6rem 15px 0;
          }

          // @media (max-width: 1439px)
          @include media-breakpoint-up(sm) {
            min-width: var(--container);
            max-width: var(--container);
          }
          @include media-breakpoint-up(md) {
            min-width: var(--slideWidth);
            max-width: var(--slideWidth);
          }
          //      height: 100%;
          &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            right: 0;
            top: 0;
            background: var(--brand-gradient);
            background: var(--brand);
            z-index: 0;
            opacity: 0.75;
            @include media-breakpoint-up(md) {
              opacity: 0;
            }
            transition: .3s ease;
          }
          h4 {
            font-size: rem(28);
//            white-space: nowrap;
//            text-overflow: ellipsis;
//            overflow: hidden;
            width: 100%;

            // (768px)
            @include media-breakpoint-down(sm) {
              -webkit-text-fill-color: white;

            }

          }
          h4,
          p {
            transition: .3s ease;
            position: relative;
//            z-index: 1;
          }
          .btn {
            position: relative;
            z-index: 1;
          }
          &:hover {
            img {
              opacity: 1;
            }
            h4,
            p {
              color: var(--brand);
              position: relative;
              z-index: 1;
            }

            h4 {

              -webkit-text-fill-color: white;


            }
          }
          img {
            margin-bottom: 0;
            max-width: none;
            //        max-height: 50px;
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
            filter: contrast(1) grayscale(1);
            opacity: .25;
            transition: .3s ease;
            left: 0;
            top: 0;
            margin: 0;
            z-index: 0;
            //        object-fit: contain;
            //        object-position: 0% 100%;
          }
          // (768px)
          @include media-breakpoint-down(sm) {

//            @media(orientation: portrait) {

            img {
              opacity: 1;
            }
            h4,
            p {
              color: white;
              position: relative;
              z-index: 1;
            }

//            }

          &:hover {
            //            @include shadow-3;
            h4,
            p {
              color: white;
            }
//            &:after {
//              opacity: .5;
//            }
          }

          }
          &:before {
            content: none;
          }
          @include shadow-1-w-hover;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0),
          0 1px 2px rgba(0, 0, 0, 0);
          @include media-breakpoint-up(md) {


          &:hover {
            //            @include shadow-3;
            h4,
            p {
              color: white;
            }
            &:after {
              opacity: .5;
            }
          }
          }
        }
      }
    }
  }
}
