.hero-slider.tcon {
  .progress.started {
    transition: transform 20000ms ease, opacity .3s ease;
  }
}
.hero-slider.subsites {
  .progress.started {
    transition: transform 10000ms ease, opacity .3s ease;
  }
}
.home-slider {
  position: relative;
  overflow: hidden;
  // (768px)
  @include media-breakpoint-down(sm) {
    margin-top: var(--headerheight);
  }
  .progress {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--brand);
    height: 4px;
    z-index: 100;
    width: 100%;
    padding: 0;
    transform: scaleX(0);
    transform-origin: 0% 50% 0;
    opacity: 0;
    transition: opacity .3s ease;
    padding-right: 0;
    right: -15px;
    z-index: 1;
    &.started {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  .swiper-wrapper {
    // (768px)
    @include media-breakpoint-up(lg) {
      height: 100vh;
    }
    @include media-breakpoint-down(md) {

        height: 100vw;

      @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
        height: calc(100vh - var(--headerHeight));
      }
    }
    @include media-breakpoint-down(sm) {
      height: auto;

      @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
        height: auto;
      }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      height: 66vw;
    }
    .swiper-slide {
      height: 100%;
      position: relative;

      // (768px)
      @include media-breakpoint-down(sm) {

        height: auto;
      }

      .left {
        // @media (max-width: 1439px)
        @include media-breakpoint-up(lg) {
          position: relative;
          padding-right: 0;
        }
        @include media-breakpoint-down(lg) {
          //          background: white;
        }
        .content {
          .companies-of-nassal & {
            // @media (max-width: 1439px)
            @include media-breakpoint-up(lg) {
              padding: 5rem 3rem 4rem 3rem;
            }
          }
          padding: 5rem 3rem 2rem 4rem;
          &.has-btn {
            @include media-breakpoint-up(md) {
              padding-bottom: 2rem;
            }
          }
          // (768px)
          @include media-breakpoint-down(lg) {
            @media (orientation: portrait) {
              width: 100%;
//              max-width: 90%;
            }
          }
          @include media-breakpoint-down(md) {
            padding: 0 3rem 1rem 1rem;
            body.home & {
              padding-top: 2rem;
              @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
                width: 100%;
                max-width: 90%;
              }
            }
          }
          @include media-breakpoint-down(xs) {
            padding: 0 15px 2rem;
            body.home & {
              padding-top: 2rem;
            }
          }
          h1 {
            //            text-transform: capitalize;
            @include media-breakpoint-up(lg) {
              padding-right: 1rem;
            }
            // (768px)
            @include media-breakpoint-down(md) {
              font-size: 4rem;

              @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
                font-size: 3rem;
              }
            }
            // (768px)
            @include media-breakpoint-down(sm) {
              font-size: 3.5rem;
            }
          }
          p {
            margin-bottom: 1rem;
            // @media (max-width: 1439px)
            @include media-breakpoint-up(lg) {
              max-width: 38vw;
            }

            // (768px)
            @include media-breakpoint-down(md) {
              @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
                display: none;

              }
            }

          }
        }
        .bottom-nav {
          background: #FAFAFA;
          //          padding-bottom: 4px;
          border-bottom: solid 4px var(--brand-dark);
          img {
            object-fit: contain;
            margin: 0 0 3rem;
            padding: 0 1rem;
            display: block;
            height: 100%;
            width: 100%;
            transition: all .5s ease;
          }
          a:hover {
            img {
              opacity: 1 !important;
            }
          }
        }
      }
      .bg-image {
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: 50%;
          @include media-breakpoint-down(md) {
            height: 100vw;



            @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
              height: calc(100vh - var(--headerHeight));
            }
          }

            @media only screen
            and (min-device-width : 768px)
            and (max-device-width : 1024px)  {


            }

            @media only screen
            and (min-device-width : 768px)
            and (max-device-width : 1024px)
            and (orientation : landscape) {


            }

            @media only screen
            and (min-device-width : 768px)
            and (max-device-width : 1024px)
            and (orientation : portrait) {

            height: 64vw;

            }

          @include media-breakpoint-down(sm) {
            height: 64vw;
            @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
              height: calc(100vh - var(--headerHeight));
            }
          }
          @include media-breakpoint-down(xs) {
            height: 100vw;
            @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
              height: calc(100vh - var(--headerHeight));
            }
          }
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}
          @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
            height: 100%;
          }
        }
        position: relative;
      }
      //      &.swiper-slide-active {
      &.nassal {
        .bottom-nav {
          a:not(.nassal) img {
            opacity: .25;
          }
        }
      }
      &.nfusion {
        .bottom-nav {
          a:not(.fusion) img {
            opacity: .25;
          }
        }
      }
      &.lexington {
        .bottom-nav {
          a:not(.lex) img {
            opacity: .25;
          }
        }
      }
      //      }
    }
  }
}
.company-slider {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vw;
  // (768px)
  @include media-breakpoint-up(lg) {
    position: absolute;
    height: 100%;
  }
  @include media-breakpoint-down(md) {
    //    position: absolute;
    height: 100%;
    @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
      height: 64vh;
    }
  }
  @include media-breakpoint-up(md) {
    @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
      position: absolute;
      height: 100%;
    }
  }
}
.bg-image {
  overflow: hidden;
  height: 100%;
  .img-attr {
    .home-slider & {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      left: 2rem;
      font-size: .75rem;
      opacity: .9;
      color: white;
      font-weight: 700;
      // (768px)
      p {
        font-size: inherit;
        margin: 0;
        line-height: 1.25;
        font-weight: 700;
      }
    }
  }
  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50%;
    // (768px)
    @include media-breakpoint-up(lg) {
      position: absolute;
    }
    @include media-breakpoint-down(md) {
      height: 100vw;
      @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
        height: calc(100vh - var(--headerHeight));
      }
    }
    @include media-breakpoint-down(sm) {
      height: 64vw;
      @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
        height: calc(100vh - var(--headerHeight));
      }
    }
    @include media-breakpoint-down(xs) {
      height: 100vw;
      @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
        height: calc(100vh - var(--headerHeight));
      }
    }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {}
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      height: 100%;
    }
    top: 0;
    left: 0;
  }
}
.mask.home-slider {
  .no-touch {
    pointer-events: none;
    .touch {
      //      pointer-events: all;
      display: flex;
      align-items: flex-end;
      align-content: flex-end;
      // (768px)
      @include media-breakpoint-down(md) {
        padding: 1rem 15px 1rem;
      }
      > div {
        max-width: 100%;
      }
      h1 {
        transition: .3s ease;
        //        font-size: 5.5rem;
        // (768px)
        @include media-breakpoint-up(lg) {
          font-size: 5.5rem;
        }
        // (768px)
        @include media-breakpoint-down(sm) {}
      }
      p {
        transition: .3s ease;
      }
    }
  }
  .swiper-wrapper .swiper-slide {
    &.swiper-slide-active {
      .bg-image {
        pointer-events: all;
        // (768px)
        @include media-breakpoint-down(md) {
          pointer-events: none;
        }
      }
      .touch {
        pointer-events: all;
        h1 {
          //          transition: .3s ease;
        }
        p {
          //          transition: .3s ease;
        }
        .btn {
          //        pointer-events: all;
        }
      }
    }
    .bg-image {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background .3s ease;
      pointer-events: none;
      .img-attr {
        position: absolute;
        bottom: 1rem;
        right: 9%;
        left: 58%;
        font-size: .75rem;
        opacity: .9;
        color: white;
        font-weight: 700;
        // (768px)
        @include media-breakpoint-down(md) {
//          bottom: 1rem;
          right: 1rem;
          left: 50%;
//          font-size: .75rem;
//          opacity: .9;
//          color: white;
//          font-weight: 700;
        }
        @include media-breakpoint-down(sm) {
          bottom: 1rem;
          right: 26%;
          left: 25%;
          font-size: .55rem;
          opacity: .9;
          color: white;
          font-weight: 700;
        }
        @include media-breakpoint-down(xs) {
          bottom: 15px;
          right: 15px;
          left: 15px;
          font-size: .5rem;
          opacity: .9;
          color: white;
          font-weight: 700;
        }
        p {
          font-size: inherit;
          margin: 0;
          line-height: 1.25;
          font-weight: 700;
        }
      }
      .masked {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //        height: 100%;
        mask-image: url(../img/home-mask.svg);
        mask-size: 50% auto;
        mask-repeat: no-repeat;
        mask-position: 100% 100%;
        transition: .3s ease;
        //      transition: .1s ease;
        //      animation: kenburns 11000ms infinite;
        //      animation-timing-function: ease-in;
        // (768px)
        @include media-breakpoint-down(md) {
          @media(orientation: portrait) {
            mask-size: 75% auto;
            mask-position: 150% 100%;
          }
        }

        @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)  {


        }

        @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (orientation : landscape) {


        }

        @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (orientation : portrait) {
        mask-size: 50% auto;
        mask-repeat: no-repeat;
        mask-position: 100% 100%;

        }

        @include media-breakpoint-down(sm) {
          mask-size: 72vw auto;
          mask-position: 50% 100%;
        }
        @include media-breakpoint-down(xs) {
          mask-size: 115vw auto;
          mask-position: -15vw 100%;
        }
      }
      .clone {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //        height: 100%;
        z-index: 0;
        opacity: 0;
        transition: opacity .3s ease;
      }
      .mask-fallback {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        //        height: 100%;
        z-index: 1;
        transition: opacity .3s ease;
        &:before,
        &:after {
          width: 50%;
          height: 100%;
          display: inline-block;
          float: left;
          content: '';
          background: white;
        }
        &:after {
          background: url(../img/home-ie-mask.svg);
          background-size: 100% auto;
          background-repeat: no-repeat;
          background-position: 100% 100%;
        }
      }
      @include media-breakpoint-down(md) {
        position: relative;
        //        pointer-events: none;
        @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
          height: calc(100vh - var(--headerHeight));
          position: absolute;
        }
        @media(orientation: portrait) {
          height: 100vw;
//          background: black;
          position: absolute;
//          .masked {
//            opacity: 1;
//          }
//          .clone {
//            opacity: .5;
//          }
//          .mask-fallback {
//            opacity: .5;
//            filter: invert(1);
//          }
        }
      }


      @media only screen
      and (min-device-width : 768px)
      and (max-device-width : 1024px)  {


      }

      @media only screen
      and (min-device-width : 768px)
      and (max-device-width : 1024px)
      and (orientation : landscape) {


      }

      @media only screen
      and (min-device-width : 768px)
      and (max-device-width : 1024px)
      and (orientation : portrait) {


        height: 64vw;
      }

      @include media-breakpoint-down(sm) {
//        position: relative;
//        //        pointer-events: none;
//        @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
//          height: calc(100vh - var(--headerHeight));
//          position: absolute;
//        }
        @media(orientation: portrait) {
//          height: 100vw;
          background: black;
//          position: absolute;
          .masked {
            opacity: 1;
          }
          .clone {
            opacity: .5;
          }
          .mask-fallback {
            opacity: .5;
            filter: invert(1);
          }
        }
      }
      @include media-breakpoint-down(xs) {
        @media(orientation: portrait) {
          position: relative;
          height: 100vw;
        }
        @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
          position: relative;
          height: calc(100vh - var(--headerHeight));
        }
      }
    }
  }
  .hover & {
    .swiper-slide-active {
      .touch {
        h1 {
          background-position: 0%;
          background-size: 1000%;
        }
        p {
          color: white;
        }
        .progress {
          animation-play-state: paused;
        }
      }
      .bg-image {
        background: black;
        .masked {
          opacity: 1;
        }
        .clone {
          opacity: .5;
        }
        .mask-fallback {
          opacity: .5;
          filter: invert(1);
        }
      }
    }
  }
}
@keyframes kenburns {
  0% {
    transform: scale(1) translate3d(0%, 0%, 0px);
    opacity: 1;
  }
  25% {
    transform: scale(1.1) translate3d(-1%, -1%, 0px);
  }
  50% {
    transform: scale(1.15) translate3d(-2%, -2%, 0px);
  }
  75% {
    transform: scale(1.1) translate3d(-1%, -1%, 0px);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate3d(0%, 0%, 0px);
    //    opacity: 0;
  }
}
html:not(.edge, .ie) {
  .mask-fallback {
    display: none;
  }
}
