.full-menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
  left: 0;
  width: auto;
  background: rgba(white, .99);


    @include media-breakpoint-down(md) {

                  @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {

      position: absolute;
    }
    }
  .office-info {
    position: absolute;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 2.5rem 2rem;
    transform: translateY(100%);
    transition: .75s ease;
    opacity: 0;
    // (768px)
    @include media-breakpoint-down(md) {
      margin: 0 1rem 0;
      p {
        font-size: .8rem;
      }
  }
      @include media-breakpoint-down(md) {
                      @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
          display: none;
        }
      }
      @include media-breakpoint-down(sm) {

        display: none;
      }
    .socials {
      list-style: none;
      padding: 0;
      margin: 0 0 1rem;
      text-align: right;
      // (768px)
      @include media-breakpoint-down(md) {
        text-align: left;
        li {
          a {
            --font-size: .75rem;
          }
        }
      }

      li {
        display: inline-block;
        margin-right: .5rem;
        vertical-align: top;
        a {
          --font-size: 1.5rem;
          font-size: calc(var(--font-size) * .8);
          color: black;
          width: calc(2.15 * var(--font-size));
          height: calc(2 * var(--font-size));
          display: flex;
          align-content: center;
          align-items: center;
          border: 1px solid black;
          border-radius: 100%;
          svg {
            display: block;
            margin: 0 auto;
            height: 50%;
            width: 50%;
            path {
              transition: .3s ease;
            }
          }
          i {
            width: 100%;
            text-align: center;
          }
          &:hover {
            text-decoration: none;
            color: var(--brand);
            border-color: var(--brand);
            svg {
              path {
                fill: var(--brand);
              }
            }
          }
        }
      }
    }
  }
  // @media (max-width: 1439px)
  @include media-breakpoint-up(md) {
//    background: linear-gradient(135deg, white 0%, rgba(white, 0) 100%);
    background: rgba(white, .99);
  }
  background-size: 100%;
  background-position: 100% 100%;
  padding: var(--headerHeight) 4rem 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  //  transform: scale(1.1);
  transform: translate3d(0, 0, 0);
  visibility: hidden;
  transform-origin: 50% 50%;
  pointer-events: none;
  @include media-breakpoint-down(md) {

                @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {

    padding: var(--headerHeight) 1.5rem 0;

  }

  }
  .menu-open & {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    //    transform: scale(1);
//    transform: translate3d(0, 0, 0);
//    background-position: 0% 100%;
//    background-size: 2000%;

    .office-info {
      transform: translateY(0);
      opacity: 1;
      transition: .75s ease .25s;
    }
  }
  // (768px)
  @include media-breakpoint-down(sm) {
    padding: 5rem 15px 0;
  }

  .uppercase {

    letter-spacing: .1em;
//    color: black;
  }
  .menu {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    max-height: 100%;

    // (768px)
    @include media-breakpoint-down(sm) {
//      text-align: left;
      padding: 0 1rem;
    }

      @include media-breakpoint-down(md) {
                      @media screen and (orientation:landscape) and (min-aspect-ratio: 16/9) {
          column-count: 2;
          column-fill: balance;
        }
      }
    li {
      line-height: 1.5;
      display: block;
      transition: .5s ease;
      transform: translate3d(0, 0, 0) scale(1.1);
      transform-origin: 50% 50% 0;
      opacity: 0;
      width: 100%;
      visibility: hidden;
      .menu-open & {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
        visibility: visible;
      }
      @for $i from 1 to 10 {
        &:nth-child(#{$i}) {
          .menu-open & {
            transition-delay: $i * 0.1s;
          }
        }
      }
      a {
        display: inline-block;
        font-size: 2.75rem;
        .companies-of-nassal & {
          font-size: 3rem;
          // (768px)
          @include media-breakpoint-down(md) {
            font-size: 3rem;
          }
        }
        font-weight: bold;
        text-transform: lowercase;
        letter-spacing: -0.05em;
        transition: .5s ease;
        padding-right: .25rem;
        // (768px)
        @include media-breakpoint-down(sm) {
          font-size: 3rem;
        }
        @supports (-webkit-background-clip: text) {
          background: var(--brand-gradient);
          background-size: 100%;
          background-position: 0% 0%;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          &:hover {
            background-size: 1000%;

            text-decoration: none;
            //            background-position: 50% 50%;
          }
          // (768px)
          @include media-breakpoint-down(sm) {
            background: var(--brand-gradient);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
          }
        }
        @supports not (-webkit-background-clip: text) {
          color: var(--brand);
          &:hover {
            color: var(--brand-dark);
          }
        }
        &:focus {
          color: var(--brand);
          outline: auto;

        }


      }
    }
  }
}
