.news-posts {
  margin: 5rem auto;

  // (768px)
  @include media-breakpoint-down(sm) {

    margin: 2rem auto;
  }

  .posts-row {
    @include cardContent;
    padding: 0;
    margin: 0;
    h5 {
      line-height: 1.25;
    }
    h6 {

      font-size: 1rem;
    }
    .card {
      margin: 1rem auto 1rem;
      padding: 0;
      background: $lt-grey;
      height: 100%;
      h4,
      p {
        transition: .3s ease;
      }
      &:hover {
        img {
          opacity: .20;
        }
        h4,
        p {
          color: var(--brand);
        }
      }
      img {
        margin-bottom: 0;
        max-width: none;
        //        max-height: 50px;
        width: 100%;
        height: 100%;
        position: relative;
        object-fit: cover;
        //        filter: grayscale(1);
        //        opacity: 0;
        transition: .3s ease;
        left: 0;
        top: 0;
        margin: 0;
        z-index: 0;
        max-height: 25rem;


        // (768px)
        @include media-breakpoint-down(sm) {

          max-height: 12rem;
        }

        //        object-fit: contain;
        //        object-position: 0% 100%;
      }
      &:before {
        content: none;
      }
      @include shadow-1-w-hover;
      box-shadow: none;
      &:hover {
        @include shadow-3;
      }
    }
  }
}
.post-content {
  padding: 3rem 0;
  // (768px)
  @include media-breakpoint-down(md) {
    padding: 2rem 0 3rem;
  }
  .socials {
    list-style: none;
    padding: 0;
    margin: 0 0;
    text-align: left;
    // (768px)
    @include media-breakpoint-down(md) {
      //          text-align: left;
      margin-bottom: 1rem;
    }
    li {
      display: block;
      margin-bottom: .5rem;
      @include media-breakpoint-down(md) {
        display: inline-block;
        margin-bottom: 0;
        margin-right: .5rem;
      }
      button {
        --font-size: 1.5rem;
        background: none;
        color: black;
        width: calc(2.15 * var(--font-size));
        height: calc(2 * var(--font-size));
        border: 1px solid black;
        border-radius: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        // (768px)
        @include media-breakpoint-down(md) {
          top: .25rem;
        }
        svg {
          --font-size: 1.5rem;
          width: 60%;
          height: 60%;
          display: block;
          margin: 0 auto;
          //        width: calc(2.15 * var(--font-size));
          //        height: calc(2 * var(--font-size));
        }
      }
      a {
        --font-size: 1.5rem;
        font-size: calc(var(--font-size) * 1);
        color: black;
        width: calc(2.15 * var(--font-size));
        height: calc(2 * var(--font-size));
        display: flex;
        align-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 100%;
        i {
          width: 100%;
          text-align: center;
        }
        &:hover {
          text-decoration: none;
          color: var(--brand);
          border-color: var(--brand);
        }
      }
    }
  }
}
